<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" [routerLinkActive]="['active']">
				<a class="nav-link" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item" [routerLinkActive]="['active']">
		  		<a class="nav-link" [routerLink]="['/projects']">Projects</a>
			</li>
			<li class="nav-item">
		  		<a class="nav-link" href="#">Disabled</a>
			</li>
		</ul>
	    <ul class="navbar-nav">
			<li *ngIf="!is_login" class="nav-item" [routerLinkActive]="['active']">
		  		<a class="nav-link" [routerLink]="['/login']">Login</a>
			</li>
			<li *ngIf="is_login" class="nav-item">
		  		<a class="nav-link" [routerLink]="['/login']">Salir</a>
			</li>
	    </ul>
 	</div>
</nav>

<!-- Begin page content -->
<div class="container-fluid">
	<!--componente actual-->
	<router-outlet></router-outlet>
</div>

<footer class="footer">
	 <div class="container-fluid">
		<span class="text-muted">Christopher Flores</span>
	 </div>
</footer>
